
*.dll
*.dll
../../../../../C:/.DS_Store
../../../../../C:/Users/.DS_Store
../../../../../C:/Users/ThienQuang/Dropbox/NK/appsettings.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/appsettings.Development.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/bundleconfig.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/appsettings.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/appsettings.Development.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/bundleconfig.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/appsettings.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/appsettings.Development.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/bundleconfig.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/DentalClinic.deps.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/DentalClinic.runtimeconfig.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/web.config
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/.bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery/.bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery-validation/.bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/DentalClinic.deps.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/DentalClinic.runtimeconfig.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/web.config
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/.bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery/.bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery-validation/.bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/DentalClinic.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/DentalClinic.pdb
../../../../../C:/Users/ThienQuang/Dropbox/NK/DentalClinic.deps.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/DentalClinic.PrecompiledViews.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/DentalClinic.PrecompiledViews.pdb
../../../../../C:/Users/ThienQuang/Dropbox/NK/DentalClinic.runtimeconfig.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/dotnet-aspnet-codegenerator-design.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/libe_sqlite3.dylib
../../../../../C:/Users/ThienQuang/Dropbox/NK/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/Microsoft.CodeAnalysis.Workspaces.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/Microsoft.VisualStudio.Web.CodeGeneration.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/MySqlConnector.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/NuGet.Frameworks.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/Pomelo.EntityFrameworkCore.MySql.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/Pomelo.JsonObject.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/System.Composition.AttributedModel.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/System.Composition.Convention.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/System.Composition.Hosting.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/System.Composition.Runtime.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/System.Composition.TypedParts.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/System.Configuration.ConfigurationManager.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/System.Security.Cryptography.ProtectedData.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/System.Security.Permissions.dll
../../../../../C:/Users/ThienQuang/Dropbox/NK/web.config
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/.DS_Store
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/css/site.css
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/css/site.min.css
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/favicon.ico
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/images/banner1.svg
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/images/banner2.svg
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/images/banner3.svg
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/images/banner4.svg
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/js/site.js
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/js/site.min.js
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/.bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/css/bootstrap.css
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.css
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.css.map
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.min.css
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.min.css.map
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.svg
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/js/bootstrap.js
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/dist/js/npm.js
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/bootstrap/LICENSE
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery/.bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery/dist/jquery.js
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery/dist/jquery.min.js
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery/dist/jquery.min.map
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery/LICENSE.txt
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery-validation/.bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery-validation/dist/additional-methods.js
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery-validation/dist/jquery.validate.js
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery-validation/LICENSE.md
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
../../../../../C:/Users/ThienQuang/Dropbox/NK/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
.DS_Store
